/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

a {
  color: #3f51b5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.return-button {
  font-weight: 600;
  color: #e1bee7;
  border: 1px solid #e1bee7;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;

  &:hover {
    background-color: #e1bee7;
    color: #1e1e1e;
    text-decoration: none;
  }
}

